#canvas {
    height:96%; 
    width:70%;
    margin-left:10px;
    float:left; 
    z-index:-2;
}

.item {
    height:64px;
    width:64px;
    display:block;
    z-index:0;
}

.joint, .jointg {
    position:absolute;
    width:32px;
    height:32px;
    border-radius:50%;
}

.jointg{
    background:blue;
}

.joint {
    background: grey;
}

.anchorg, .anchor{
    position: absolute;
    width:0;
    height:0;
    border-left: 16px solid transparent;
    border-right:16px solid transparent;
}

.anchorg {
    border-bottom: 32px solid black;
}

.anchor {
    border-bottom:32px solid grey;
}

#trash {
    background-image: url("images/anchorg.png"); 
    background-size:100%;
    width:64px;
    height:64px;
    position: absolute;
}

#info {
    float:right; 
    width:28%; 
    right:1px; 
    height:96%;
}

#queryinfo {
    overflow:auto; 
    height:90%;
    margin-top:10px;
    padding:5px;
}

#main {
   -webkit-user-select: none; 
}

.white {
    color: white;
}

.input {
    width: 18%;
}

#input-group {
    width:96%; 
    text-align:justify; 
    margin-top:10px; 
    margin-left:2%;
}

#empty{
    width:100%; 
    display:inline-block;
}

#clear-button{
    margin-left:25%; 
    width:50%;
}
