#canvas {
    height:96%; 
    width:70%;
    margin-left:10px;
    float:left; 
    z-index:-2;
}

.item {
    height:64px;
    width:64px;
    display:block;
    z-index:0;
}

.jointg {
    background:blue;
    border-radius:50%;
}

.joint {
    background: grey;
    border-radius:50%
}

.anchorg {
    width:0;
    height:0;
    border-left: 16px solid transparent;
    border-right:16px solid transparent;
    border-bottom:32px solid black;
}

.anchor {
    width:0;
    height:0;
    border-left: 16px solid transparent;
    border-right:16px solid transparent;
    border-bottom:32px solid grey;
}

#trash {
    background-image: url("images/anchorg.png"); 
    background-size:100%; 
}

#info {
    float:right; 
    width:28%; 
    right:1px; 
    height:96%;
}

#queryinfo {
    overflow:auto; 
    height:90%;
    margin-top:10px;
    padding:5px;
}
